:root {
  --primary-color: #006ce2;
  --secondary-color: #6c757d;
  --third-color: #ccc;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

.content-area-height {
  height: calc(100vh - 62px);
}

.popup-mask {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(248, 249, 250, 0.7);
  transition: opacity 0.3s;
}
