@font-face {
  font-family: 'iconfont'; /* Project id 4603118 */
  src:
    url('iconfont.woff2?t=1719566488097') format('woff2'),
    url('iconfont.woff?t=1719566488097') format('woff'),
    url('iconfont.ttf?t=1719566488097') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianxie:before {
  content: '\e601';
}

.icon-zitiyulan:before {
  content: '\ec86';
}

.icon-fabu:before {
  content: '\e61e';
}

.icon-tupian:before {
  content: '\e889';
}

.icon-danxuan-xuanzhong:before {
  content: '\e6a4';
}

.icon-checkDropdown:before {
  content: '\e655';
}

.icon-riqi:before {
  content: '\e616';
}

.icon-shuomingwenzi:before {
  content: '\e603';
}

.icon-shuzishurukuang:before {
  content: '\e66d';
}

.icon-pingfen:before {
  content: '\e6d8';
}

.icon-fuwenben:before {
  content: '\e615';
}

.icon-duoxuan:before {
  content: '\e602';
}

.icon-zibiaodan:before {
  content: '\e651';
}

.icon-danhangshurukuang:before {
  content: '\e619';
}

.icon-a-ziyuan30:before {
  content: '\e66c';
}

.icon-huadongtiao:before {
  content: '\e727';
}

.icon-duohangshuru:before {
  content: '\e643';
}
